---
title: Каталог внутренняя 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# partial example #}
	{% include "partials/_top.html" %}

    <section class="jumbotron" style="background-image: url(img/jumbotron.png)">
        <div class="container">
            <div class="jumbotron__wrap">
                <div class="title title--white">Строим дома и бани <br>из оцилиндрованного бревна</div>
                <div class="jumbotron__btn">
                    <a href="" class="btn">Расчитать стоимость</a>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="content__wrap">
                <div class="content__left">
                    <blockquote>Оцилиндрованное бревно - один
из самых популярных материалов для строительства дома</blockquote>
                    <img src="img/content-left.png" alt="">
                </div>
                <div class="content__right">
                    <ul class="content__lists">
                        <li><span>Отсутсвуют крупные боковые трещины -</span><br>компенсационный пропил уводит трещины наверх</li>
                        <li><span>Не требуется внешняя и внутренняя отделка -</span><br>оцилиндрованное бревно выглядит безупречно</li>
                        <li><span>Заготавливаем ценные породы дерева -</span><br>отбираем только качественную древесину</li>
                        <li><span>Высокая теплоемкость будущего дома -</span><br>тепловой паз занимает 50% от диаметра бревна</li>
                    </ul>
                </div>
            
                {# tabs #}
                <ul class="tabs">
                    <li class="tabs__lists">
                        <a href="" class="tabs__link js--tab">Фундамент</a>
                        <div class="tabs__item">
                            <div class="table-overflow">
                                <table class="table mt-0">
                                    <tbody>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li class="tabs__lists">
                        <a href="" class="tabs__link js--tab">Фундамент</a>
                        <div class="tabs__item">
                            <div class="table-overflow">
                                <table class="table mt-0">
                                    <tbody>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li class="tabs__lists">
                        <a href="" class="tabs__link js--tab">Фундамент</a>
                        <div class="tabs__item">
                            <div class="table-overflow">
                                <table class="table mt-0">
                                    <tbody>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                        <tr>
                                            <td>Стоимость фундамента</td>
                                            <td>2 500 р/м3</td>
                                            <td><a href="" class="table__order">Заказать</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </section>

    {% include "partials/_order.html" %}

	{% include "partials/_copyright.html" %}

{% endblock %}
