---
title: Главная страница
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# partial example #}
	{% include "partials/_header.html" %}

	<section class="main-services">
		<div class="container">
			<div class="title">Мы предлагаем</div>
			<div class="main-services__wrap">
				<div class="main-services__col main-services__col--big">
					<a href="" class="main-services__block main-services__block--big" style="background-image: url(img/mserv.jpg);">
						<div class="main-services__overflow">Клееный брус</div>
					</a>
				</div>
				<div class="main-services__wrap main-services__wrap--big">
					<div class="main-services__col">
						<a href="" class="main-services__block" style="background-image: url(img/mserv.jpg);">
							<div class="main-services__overflow">Оцилиндрованное бревно</div>
						</a>
					</div>
					<div class="main-services__col">
						<a href="" class="main-services__block" style="background-image: url(img/mserv.jpg);">
							<div class="main-services__overflow">Кедр и лиственница</div>
						</a>
					</div>
					<div class="main-services__col">
						<a href="" class="main-services__block" style="background-image: url(img/mserv.jpg);">
							<div class="main-services__overflow">Ручная рубка</div>
						</a>
					</div>
					<div class="main-services__col">
						<a href="" class="main-services__block" style="background-image: url(img/mserv.jpg);">
							<div class="main-services__overflow">Обрезной брус</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-production">
		<div class="container">
			<div class="title title--white">Производим сами</div>
			<div class="main-production__wrap">
				<div class="main-production__item main-production__item--is-active">
					<div class="main-production__block">
						<img src="img/main-production/workpiece.svg" alt="" />
						<div class="main-production__title">Заготовка</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно 
							с ноября по март. Выбираем только хвойные породы древесины, 
							так как им присущи высокая прочность, низкая твердость и 
							способность удерживать металлические крепления. Площадь 
							наших участков под вырубку составляет около 120 га. 
							Отбираем дефектные бревна и отправляем на обработку только 
							качественное сырье.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/proizvodstvo.svg" alt="" />
						<div class="main-production__title">Производство</div>
					</div>
					<div class="main-production__text">
						<p>
							Производство пиломатериалов полного цикла находится в Ижевске. 
							Обрабатываем сырье для постройки домов и бань по ГОСТу. 
							Применяется естественная сушка или сушка в камере. При 
							строгании используется четырехсторонний станок, который 
							помогает добиться гладкой поверхности с разных сторон. 
							Продукция проходит сертификацию, а также соответствует 
							экологическим и функциональным нормам. 
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/introduction.svg" alt="" />
						<div class="main-production__title">Знакомство</div>
					</div>
					<div class="main-production__text">
						<p>
							Знакомимся с Вами в нашем офисе, выясняем, что Вы хотите. 
							Если это необходимо, ищем подходящий участок 
							для строительства. Затем Вы можете выбрать уже готовый проект 
							дома или бани, мы бесплатно его доработаем, если это будет 
							необходимо. Также мы можем создать для Вас индивидуальный 
							проект дома или бани. Формулируем техническое задание
							и подписываем договор на проектирование. 
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/project.svg" alt="" />
						<div class="main-production__title">Проект</div>
					</div>
					<div class="main-production__text">
						<p>
							В соответствии с Вашими требованиями разрабатываем 
							эскизный проект и рабочую документацию. На основании 
							проекта составляем сметы, подсчитываем объем работ, 
							материалов для строительства и отделки. Весь проект 
							упаковывается в альбом формата А3, объемом на 15-150 
							листов с 3D-визуализацией. Он содержит необходимые для 
							строительства чертежи и технические данные.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/assembly.svg" alt="" />
						<div class="main-production__title">Сборка</div>
					</div>
					<div class="main-production__text">
						<p>
							Собираем деревянный сруб из бруса или бревен и устанавливаем 
							его на заранее подготовленный фундамент. Возводим деревянный 
							сруб под крышу и покрываем кровлей. После возведения дома 
							под крышу необходимо выждать некоторое время на усадку 
							сруба: от 6 зимой и до 12 месяцев летом. Производим 
							утепление фундамента, мансарды и крыши. Осуществялем 
							монтаж стропил, обрешетки, балок пола и потолка.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/delivery.svg" alt="" />
						<div class="main-production__title">Сдача</div>
					</div>
					<div class="main-production__text">
						<p>
							Завершаем строительство внешней и внутренней отделкой, 
							настилом полов, установкой окон и дверей. Монтируем 
							инженерные сети и коммуникации внутри деревянного 
							дома и подключаем их к наружным сетям, при необходимости 
							устанавливаем лестницу (как временную, так и постоянную). 
							На этом мы заканчиваем свою работы и Вы спокойно можете 
							заселяться в готовый дом!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-creating">
		<div class="container">
			<div class="title">Создаем дома и бани мечты</div>
			<div class="main-creating__wrap">
				<div class="main-creating__left">
					<p>Бесплатно разрабатываем индивидуальные проекты домов и бань с нуля.
					Также предлагаем 90 готовых проектов. Доработаем готовый проект бани
					за 1-2 дн, дома – 3-4 дня. Для обсуждения деталей и технических моментов
					Вы можете прийти к нам в офис или мы свяжемся с Вами по телефону.</p>
					<p>После завершения проектирования Вы получаете альбом формата А3,
					объемом на 15-150 листов с 3D-визуализацией. Он содержит необходимые
					для строительства чертежи и технические данные по конструкциям и узлам:
					от фундамента до крыши.</p>
					<div class="btn__group">
						<a href="#" class="btn btn--mb btn--mcenter">Заказать</a>
						<a href="#" class="btn btn--mb btn--mcenter btn--revers">Пример проекта</a>
					</div>
				</div>
				<div class="main-creating__right">
					<img src="img/main-creating-bg.jpg" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section class="main-project">
		<div class="container">
			<div class="title">Выберите готовый проект</div>
		</div>
		<div class="main-project__list owl-carousel">
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
		</div>
		<div class="main-project__nav">
			<div class="main-project__arr main-project__arr--left"></div>
			<div class="main-project__counter">
				<div class="main-project__counter-current">01</div>
				<div class="main-project__counter-separator">/</div>
				<div class="main-project__counter-total">42</div>
			</div>
			<div class="main-project__arr main-project__arr--right"></div>
		</div>
		<div class="main-project__gbtn">
			<a href="" class="btn btn--revers">Все проекты</a>
		</div>
	</section>

	{% include "partials/_calculator.html" %}

	<section class="main-portfolio">
		<div class="container">
			<div class="title">Мы построили</div>
			<div class="main-portfolio__wrap main-portfolio__wrap--wrap">
				<div class="main-portfolio__left">
					<div class="main-portfolio__item">
						<div class="main-portfolio__img">
							<img src="img/main-portfolio/1.jpg" alt="" />
						</div>
						<div class="main-portfolio__overlay">
							<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
							<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
							<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
						</div>
					</div>
					<div class="main-portfolio__wrap">
						<div class="main-portfolio__bottom-left">
							<a href="" class="main-portfolio__btn main-portfolio__btn--left">Дома</a>
						</div>
						<div class="main-portfolio__bottom-right">
							<div class="main-portfolio__item">
								<div class="main-portfolio__img">
									<img src="img/main-portfolio/2.jpg" alt="" />
								</div>
								<div class="main-portfolio__overlay">
									<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
									<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
									<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
								</div>
							</div>
							<div class="main-portfolio__item">
								<div class="main-portfolio__img">
									<img src="img/main-portfolio/3.jpg" alt="" />
								</div>
								<div class="main-portfolio__overlay">
									<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
									<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
									<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-portfolio__right">
					<div class="main-portfolio__right-top">
						<div class="main-portfolio__wrap">
							<div class="main-portfolio__right-top-left">
								<div class="main-portfolio__item">
									<div class="main-portfolio__img">
										<img src="img/main-portfolio/4.jpg" alt="" />
									</div>
									<div class="main-portfolio__overlay">
										<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
										<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
										<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
									</div>
								</div>
							</div>
							<div class="main-portfolio__right-top-right">
								<a href="" class="main-portfolio__btn main-portfolio__btn--right">Бани</a>
							</div>
						</div>
					</div>

					<div class="main-portfolio__right-center">
						<div class="main-portfolio__wrap">
							<div class="main-portfolio__right-center-left">
								<a href="" class="main-portfolio__btn main-portfolio__btn--left main-portfolio__btn--all-work">Все работы</a>
							</div>
							<div class="main-portfolio__right-center-right">
								<div class="main-portfolio__item">
									<div class="main-portfolio__img">
										<img src="img/main-portfolio/5.jpg" alt="" />
									</div>
									<div class="main-portfolio__overlay">
										<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
										<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
										<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-portfolio__right-bottom">
						<div class="main-portfolio__item">
							<div class="main-portfolio__img">
								<img src="img/main-portfolio/6.jpg" alt="" />
							</div>
							<div class="main-portfolio__overlay">
								<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
								<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
								<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="main-why">
		<div class="container">
			<div class="title title--white">Почему нас выбирают?</div>
			<div class="main-why__wrap">
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-1.svg" alt="" />
					</div>
					<div class="main-why__title">Быстро строим</div>
					<div class="main-why__subtitle">Но без ущерба качеству. Бани - <br/>1 месяц. Дома - 3 месяца</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-2.svg" alt="" />
					</div>
					<div class="main-why__title">Отвечаем за качество продукта</div>
					<div class="main-why__subtitle">Опытные прорабы контролируют весь <br/>процесс работы на каждом этапе</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-3.svg" alt="" />
					</div>
					<div class="main-why__title">Берем ответственность за брак</div>
					<div class="main-why__subtitle">Если возникают претензии, снижаем <br/>стоимость или переделываем за свой счет.</div>
				</div>

				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-4.svg" alt="" />
					</div>
					<div class="main-why__title">Доставляем по России</div>
					<div class="main-why__subtitle">Мы сами поставляем срубы, бревна <br/>и брус. Доставка по Удмуртии – до 2 дней.</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-5.svg" alt="" />
					</div>
					<div class="main-why__title">Предлагаем удобную оплату</div>
					<div class="main-why__subtitle">Постоплата после каждого этапа строительства, <br/>либо 50% предоплата за материалы.</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-6.svg" alt="" />
					</div>
					<div class="main-why__title">Практикуем рассрочку</div>
					<div class="main-why__subtitle">Покупка срубов возможна с первоначальным <br/>взносом 30%. При покупке домов под ключ <br/>формируем индивидуальные условия</div>
				</div>
			</div>
		</div>
	</section>

	<section class="order">
		<div class="container">
			<div class="title">Оставьте заявку</div>
			<div class="order__subtitle">Если у Вас есть вопросы, или Вы хотите что-либо заказать, оставьте свои контактые данные, и наши специалисты Вам перезвонят.
Нажимая кнопку, вы даете свое согласие на обработку Ваших персональных данных</div>
			<form action="#">
				<div class="form__group form__group--col">
					<input type="text" class="form__input form__input--col" placeholder="Имя" />
					<input type="text" class="form__input form__input--col" placeholder="Телефон" />
					<button class="btn form__input--col btn--mcenter" type="submit">Отправить</button>
				</div>
			</form>
		</div>
	</section>

	<section class="main-contact">
		<div class="container">
			<div class="title title--white">Свяжитесь с нами</div>
			<div class="main-contact__wrap">
				<div class="main-contact__item">
					<p>Адрес:</p>
					<p><strong>30 лет Победы, дом 2, офис 413</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Часы работы:</p>
					<p><strong>Пн-пт с 9:00 - 18:00</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Телефон:</p>
					<p><strong>+7 (3412) 56-90-84</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Бесплатный звонок по России:</p>
					<p><strong>8-800-234-90-84</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Телефон производства:</p>
					<p><strong>+7 (991) 398-80-01</strong></p>
				</div>
			</div>
			<div class="main-contact__social">
				<a href="#" class="main-contact__social-link">
					<img src="img/icon/vk.svg" alt="" />
				</a>
				<a href="#" class="main-contact__social-link">
					<img src="img/icon/inst.svg" alt="" />
				</a>
			</div>
		</div>
	</section>


	<section class="main-map"></section>

	{% include "partials/_copyright.html" %}

{% endblock %}
