---
title: Главная страница
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# partial example #}
	{% include "partials/_header.html" %}

	<section class="main-services">
		<div class="container">
			<div class="title">Мы предлагаем</div>
			<div class="main-services__wrap">
				<div class="main-services__col">
					<a href="" class="main-services__block main-services__block--house">
						<span>Дом под ключ</span>
					</a>
				</div>
				<div class="main-services__col">
					<div class="main-services__wrap">
						<div class="main-services__col">
							<a href="" class="main-services__block main-services__block--material">
								<span>Строительные материалы</span>
							</a>
						</div>
						<div class="main-services__col">
							<a href="" class="main-services__block main-services__block--works">
								<span>Строительные работы</span>
							</a>
						</div>
					</div>
					<a href="" class="main-services__block main-services__block--bathhouse">
						<span>Баня под ключ</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="main-production">
		<div class="container">
			<div class="title title--white">Производим сами</div>
			<div class="main-production__wrap">
				<div class="main-production__item main-production__item--is-active">
					<div class="main-production__block">
						<img src="img/main-production/workpiece.svg" alt="" />
						<div class="main-production__title">Заготовка</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/proizvodstvo.svg" alt="" />
						<div class="main-production__title">Производство</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/introduction.svg" alt="" />
						<div class="main-production__title">Знакомство</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/project.svg" alt="" />
						<div class="main-production__title">Проект</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/assembly.svg" alt="" />
						<div class="main-production__title">Сборка</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
				<div class="main-production__item">
					<div class="main-production__block">
						<img src="img/main-production/delivery.svg" alt="">
						<div class="main-production__title">Сдача</div>
					</div>
					<div class="main-production__text">
						<p>
							Заготавливаем древесину в Кировской области преимущественно с ноября 
							по март. Площадь наших участков
							под вырубку около 120 га. Отбираем дефектные бревна и отправляем на
							обработку только высококачественное
							сырье. Производство пиломатериалов полного цикла находится в Ижевске. Обрабатываем сырье для постройки
							домов и бань по ГОСТу. Продукция
							проходит сертификацию, а также соответствует экологическим
							и функциональным нормам.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-creating">
		<div class="container">
			<div class="title">Создаем дома и бани мечты</div>
			<div class="main-creating__wrap">
				<div class="main-creating__left">
					<p>Бесплатно разрабатываем индивидуальные проекты домов и бань с нуля.
					Также предлагаем 90 готовых проектов. Доработаем готовый проект бани
					за 1-2 дн, дома – 3-4 дня. Для обсуждения деталей и технических моментов
					Вы можете прийти к нам в офис или мы свяжемся с Вами по телефону.</p>
					<p>После завершения проектирования Вы получаете альбом формата А3,
					объемом на 15-150 листов с 3D-визуализацией. Он содержит необходимые
					для строительства чертежи и технические данные по конструкциям и узлам:
					от фундамента до крыши.</p>
					<div class="btn__group">
						<a href="#" class="btn btn--mb btn--mcenter">Заказать</a>
						<a href="#" class="btn btn--mb btn--mcenter btn--revers">Пример проекта</a>
					</div>
				</div>
				<div class="main-creating__right">
					<img src="img/main-creating-bg.jpg" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section class="main-project">
		<div class="container">
			<div class="title">Выберите готовый проект</div>
		</div>
		<div class="main-project__list owl-carousel">
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
			<div class="main-project__item">
				<img src="img/main-project.jpg" alt="" />
				<div class="main-project__info">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
				</div>
				<div class="main-project__overlay">
					<div class="main-project__title">Добрый - 8</div>
					<div class="main-project__price">999 999 руб.</div>
					<a href="#" class="btn btn--revers main-project__btn">Еще 8 фото</a>
				</div>
			</div>
		</div>
		<div class="main-project__nav">
			<div class="main-project__arr main-project__arr--left"></div>
			<div class="main-project__counter">
				<div class="main-project__counter-current">01</div>
				<div class="main-project__counter-separator">/</div>
				<div class="main-project__counter-total">42</div>
			</div>
			<div class="main-project__arr main-project__arr--right"></div>
		</div>
		<div class="main-project__gbtn">
			<a href="" class="btn btn--revers">Все проекты</a>
		</div>
	</section>

	<section class="calculator">
		<div class="container">
			<div class="title title--white">Посчитайте стоимость дома или бани</div>
			<div class="calculator__navs">
				<div class="calculator__nav calculator__nav--active">1</div>
				<div class="calculator__nav">2</div>
				<div class="calculator__nav">3</div>
				<div class="calculator__nav">4</div>
				<div class="calculator__nav">5</div>
				<div class="calculator__nav">6</div>
			</div>
			<div class="calculator__subtitle">Выберите материал</div>
			<div class="calculator__list">
				<div class="calculator__item">
					<label for="calc2-1" class="calculator__img">
						<img src="img/calculator/2-1.svg" alt="" />
					</label>
					<div class="calculator__radio">
						<input type="radio" id="calc2-1" name="calc2" value="" />
						<label for="calc2-1">Оцилиндрованное бревно</label>
					</div>
				</div>
				<div class="calculator__item">
					<label for="calc2-2" class="calculator__img">
						<img src="img/calculator/2-2.svg" alt="" />
					</label>
					<div class="calculator__radio">
						<input type="radio" id="calc2-2" name="calc2" value="" />
						<label for="calc2-2">Профилированный брус</label>
					</div>
				</div>
				<div class="calculator__item">
					<label for="calc2-3" class="calculator__img">
						<img src="img/calculator/2-3.svg" alt="" />
					</label>
					<div class="calculator__radio">
						<input type="radio" id="calc2-3" name="calc2" value="" />
						<label for="calc2-3">Клееный брус</label>
					</div>
				</div>
				<div class="calculator__item">
					<label for="calc2-4" class="calculator__img">
						<img src="img/calculator/2-4.svg" alt="" />
					</label>
					<div class="calculator__radio">
						<input type="radio" id="calc2-4" name="calc2" value="" />
						<label for="calc2-4">Обрезной брус</label>
					</div>
				</div>
			</div>
			<div class="calculator__btn">
				<a href="#" class="btn btn--center">Далее</a>
			</div>
		</div>
	</section>

	<section class="main-portfolio">
		<div class="container">
			<div class="title">Мы построили</div>
			<div class="main-portfolio__wrap main-portfolio__wrap--wrap">
				<div class="main-portfolio__left">
					<div class="main-portfolio__item">
						<div class="main-portfolio__img">
							<img src="img/main-portfolio/1.jpg" alt="" />
						</div>
						<div class="main-portfolio__overlay">
							<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
							<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
							<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
						</div>
					</div>
					<div class="main-portfolio__wrap">
						<div class="main-portfolio__bottom-left">
							<a href="" class="main-portfolio__btn main-portfolio__btn--left">Дома</a>
						</div>
						<div class="main-portfolio__bottom-right">
							<div class="main-portfolio__item">
								<div class="main-portfolio__img">
									<img src="img/main-portfolio/2.jpg" alt="" />
								</div>
								<div class="main-portfolio__overlay">
									<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
									<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
									<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
								</div>
							</div>
							<div class="main-portfolio__item">
								<div class="main-portfolio__img">
									<img src="img/main-portfolio/3.jpg" alt="" />
								</div>
								<div class="main-portfolio__overlay">
									<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
									<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
									<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-portfolio__right">
					<div class="main-portfolio__right-top">
						<div class="main-portfolio__wrap">
							<div class="main-portfolio__right-top-left">
								<div class="main-portfolio__item">
									<div class="main-portfolio__img">
										<img src="img/main-portfolio/4.jpg" alt="" />
									</div>
									<div class="main-portfolio__overlay">
										<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
										<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
										<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
									</div>
								</div>
							</div>
							<div class="main-portfolio__right-top-right">
								<a href="" class="main-portfolio__btn main-portfolio__btn--right">Бани</a>
							</div>
						</div>
					</div>

					<div class="main-portfolio__right-center">
						<div class="main-portfolio__wrap">
							<div class="main-portfolio__right-center-left">
								<a href="" class="main-portfolio__btn main-portfolio__btn--left main-portfolio__btn--all-work">Все работы</a>
							</div>
							<div class="main-portfolio__right-center-right">
								<div class="main-portfolio__item">
									<div class="main-portfolio__img">
										<img src="img/main-portfolio/5.jpg" alt="" />
									</div>
									<div class="main-portfolio__overlay">
										<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
										<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
										<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-portfolio__right-bottom">
						<div class="main-portfolio__item">
							<div class="main-portfolio__img">
								<img src="img/main-portfolio/6.jpg" alt="" />
							</div>
							<div class="main-portfolio__overlay">
								<div class="main-portfolio__overlay-title">Дом из оцилиндрованного бревна</div>
								<div class="main-portfolio__overlay-subtitle">КП Новое Завьялово</div>
								<a href="#" class="btn btn--revers main-portfolio__overlay-btn">Подробнее</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="main-why">
		<div class="container">
			<div class="title title--white">Почему нас выбирают?</div>
			<div class="main-why__wrap">
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-1.svg" alt="" />
					</div>
					<div class="main-why__title">Быстро строим</div>
					<div class="main-why__subtitle">Но без ущерба качеству. Бани - <br/>1 месяц. Дома - 3 месяца</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-2.svg" alt="" />
					</div>
					<div class="main-why__title">Отвечаем за качество продукта</div>
					<div class="main-why__subtitle">Опытные прорабы контролируют весь <br/>процесс работы на каждом этапе</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-3.svg" alt="" />
					</div>
					<div class="main-why__title">Берем ответственность за брак</div>
					<div class="main-why__subtitle">Если возникают претензии, снижаем <br/>стоимость или переделываем за свой счет.</div>
				</div>

				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-4.svg" alt="" />
					</div>
					<div class="main-why__title">Доставляем по России</div>
					<div class="main-why__subtitle">Мы сами поставляем срубы, бревна <br/>и брус. Доставка по Удмуртии – до 2 дней.</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-5.svg" alt="" />
					</div>
					<div class="main-why__title">Предлагаем удобную оплату</div>
					<div class="main-why__subtitle">Постоплата после каждого этапа строительства, <br/>либо 50% предоплата за материалы.</div>
				</div>
				<div class="main-why__item">
					<div class="main-why__icon">
						<img src="img/icon/why-6.svg" alt="" />
					</div>
					<div class="main-why__title">Практикуем рассрочку</div>
					<div class="main-why__subtitle">Покупка срубов возможна с первоначальным <br/>взносом 30%. При покупке домов под ключ <br/>формируем индивидуальные условия</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-order">
		<div class="container">
			<div class="title">Оставьте заявку</div>
			<div class="main-order__subtitle">Если у Вас есть вопросы, или Вы хотите что-либо заказать, оставьте свои контактые данные, и наши специалисты Вам перезвонят.
Нажимая кнопку, вы даете свое согласие на обработку Ваших персональных данных</div>
			<form action="#">
				<div class="form__group form__group--col">
					<input type="text" class="form__input form__input--col" placeholder="Имя" />
					<input type="text" class="form__input form__input--col" placeholder="Телефон" />
					<button class="btn form__input--col btn--mcenter" type="submit">Отправить</button>
				</div>
			</form>
		</div>
	</section>

	<section class="main-contact">
		<div class="container">
			<div class="title title--white">Свяжитесь с нами</div>
			<div class="main-contact__wrap">
				<div class="main-contact__item">
					<p>Адрес:</p>
					<p><strong>30 лет Победы, дом 2, офис 413</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Часы работы:</p>
					<p><strong>Пн-пт с 9:00 - 18:00</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Телефон:</p>
					<p><strong>+7 (3412) 56-90-84</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Бесплатный звонок по России:</p>
					<p><strong>8-800-234-90-84</strong></p>
				</div>
				<div class="main-contact__item">
					<p>Телефон производства:</p>
					<p><strong>+7 (991) 398-80-01</strong></p>
				</div>
			</div>
			<div class="main-contact__social">
				<a href="#" class="main-contact__social-link">
					<img src="img/icon/vk.svg" alt="" />
				</a>
				<a href="#" class="main-contact__social-link">
					<img src="img/icon/inst.svg" alt="" />
				</a>
			</div>
		</div>
	</section>


	<section class="main-map"></section>

	<section class="copyright">
		<div class="container">
			<div class="copyright__wrap">
				<div class="copyright__left">Все права защищены &#169; ООО ЛесДомСтрой 2018</div>
				<div class="copyright__right"><a href="#">Политика конфиденциальности</a></div>
			</div>
		</div>
	</section>

{% endblock %}
