<div class="remodal" data-remodal-id="modal-order">
	<button data-remodal-action="close" class="remodal-close"></button>
	<div class="remodal__wrap">
		<div class="remodal__left">
			<div class="remodal__img">
				<img src="img/remodal-bg.jpg" alt="">
				<div class="remodal__img-overflow">
					<div class="remodal__img-block">
						<div class="remodal__img-title">Полученная стоимость</div>
						<div class="remodal__img-title">345 987 рублей</div>
					</div>
				</div>
			</div>
		</div>
		<div class="remodal__right">
			<div class="remodal__title">
				Хотите заказать дом/баню
				или у Вас есть вопросы?
			</div>
			<div class="remodal__subtitle">
				Оставьте свои контактные данные, наши 
				специалисты с Вами свяжутся
			</div>
			<div class="remodal__form">
				<form action="#">
				<div class="form__group">
					<input type="text" class="form__input" placeholder="Имя" />
					<input type="text" class="form__input" placeholder="Телефон" />
					<button class="btn btn--center" type="submit">Отправить</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	{# <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
	<button data-remodal-action="confirm" class="remodal-confirm">OK</button> #}
</div>


<section class="copyright">
	<div class="container">
		<div class="copyright__wrap">
			<div class="copyright__left">Все права защищены &#169; ООО ЛесДомСтрой 2018</div>
			<div class="copyright__right"><a href="#">Политика конфиденциальности</a></div>
		</div>
	</div>
</section>