
<div class="slider">
        {# top black line #}
        <div class="top-line">
            <div class="container">
                <div class="top-line__wrap">
                    <div class="top-line__burger">
                        <a href="" class="top-line__burger-link">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <a href="#" class="top-line__logo">
                        <img src="img/logo.svg" alt="" />
                    </a>
                    <a href="tel:89112223344" class="top-line__mphone">
                        <img src="img/icon/mphone.svg" alt="" />
                    </a>
                    <div class="top-line__country">
                        <a href="#" class="top-line__country-href">Ижевск</a>
                    </div>
                    <div class="top-line__contact">
                        <div class="top-line__address">30 лет Победы, дом 2, офис 413</div>
                        <div class="top-line__phone">+7 (800) 234-90-84</div>
                    </div>
                </div>
            </div>
        </div>
        {# end top black line #}

        {# navigation #}
        <div class="navigation navigation--main">
            <div class="container">
                <div class="navigation__wrap">
                    <div class="navigation__logo">
                        <a href="#"><img src="img/logo.svg" alt="" /></a>
                    </div>
                    <div class="navigation__menu">
                        <ul class="navigation__list">
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Дома</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Бани</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Строительные работы</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Материалы</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Проектирование</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Наши работы</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link navigation__slink">Статьи</a>
                                <ul class="navigation__submenu">
                                    <li class="navigation__item">
                                        <a href="#" class="navigation__link">Контакты</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
        {# end navigation #}

        <div class="container">
            <div class="slider__wrap">
                <div class="slider__title">Современные дома и бани из дерева от производителя</div>
                <div class="slider__postitle">
                    <div class="slider__advantages">
                        <div class="slider__adv">
                            <div class="slider__adv-number">10 <span>лет</span></div>
                            <div class="slider__adv-descr">
                                на рынке строительства
                                деревянных домов и бань
                            </div>
                        </div>
                        <div class="slider__adv">
                            <div class="slider__adv-number">0 <span>рублей</span></div>
                            <div class="slider__adv-descr">
                                накрутка на материалы - производим сырье сами
                            </div>
                        </div>
                        <div class="slider__adv">
                            <div class="slider__adv-number">3 <span>базы</span></div>
                            <div class="slider__adv-descr">
                                для производства и обработки древесины
                            </div>
                        </div>
                    </div>
                    <div class="slider__scroll">
                        <img src="img/icon/house.svg" class="slider__scroll-img" />
                        <div class="slider__scroll-title">Мечтате жить</div>
                        <div class="slider__scroll-descr">в собственном деревянном доме?</div>
                    </div>
                </div>
                <div class="slider__gift">
                    <p class="slider__gift-title">Разработка проекта и составление сметы</p>
                    <p class="slider__gift-bold">В ПОДАРОК!</p>
                </div>
                <a data-remodal-target="modal-order" href="" class="btn btn--mcenter">Расчитать стоимость</a>
            </div>
        </div>
   
    <div class="slider__nav">
        <div class="slider__arr slider__arr--left"></div>
        <div class="slider__dots">
            <div class="slider__dot slider__dot--active" data-slide="0"></div>
            <div class="slider__dot" data-slide="1"></div>
            <div class="slider__dot" data-slide="2"></div>
            <div class="slider__dot" data-slide="3"></div>
        </div>
        <div class="slider__arr slider__arr--right"></div>
    </div>
</div>

