<section class="order order--bg">
	<div class="container">
        <div class="order__bordered">
            <div class="order__block">
                <div class="title title--order title--white">Свяжитесь с нами</div>
                <div class="order__subtitle order__subtitle--white">
                    Если у вас остались вопросы, оставьте свои контактные 
                    данные, мы свяжемся с Вами в течение дня
                </div>
                <form action="#">
                    <div class="form__group form__group--col">
                        <input type="text" class="form__input form__input--col form__input--white" placeholder="Имя" />
                        <input type="text" class="form__input form__input--col form__input--white" placeholder="Телефон" />
                        <button class="btn form__input--col btn--mcenter" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>