{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.0/vegas.min.css" />
    <link rel="stylesheet" media="all" href="css/app.css?ver=1.2" />
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="app">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js?ver=1.2"></script>
    <!-- END scripts -->

  </body>
</html>
