.icon-city-select-arr {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-city-select {
  width: 0.63em;
  height: 1em;
  fill: none;
}
.icon-house {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #DFBC82;
}
